<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录页面</title>
    <link rel = "stylesheet" href="/static/commons.css">
</head>
<body>
    <div style="text-align:center ">
    {% if message %}
    <p style="color:red"> {{message}} ！</p>
    {% endif %}
    <form action="/login" method="post">
       {% csrf_token %}
        <legend>请登录:</legend>
        <p><input name="userna" placeholder="用户名" value="{{ userna }}"></p>
        <p><input name="passd" placeholder="密码" type="password"></p>
        <p><button type="submit">登录</button></p>
    </form>
    </div>
    <script src="/static/jquery-ui.min.js"></script>
    <script src="/static/post_need_csrftoken.js"></script>
<style type="text/css">
    .big{
        position: absolute;
        left: 50%;
        margin-left: -(div宽度的一半);
        top: 50%;
        margin-top: -(div高度的一半)
    }
</style>

</body>
</html>